<p>gallery works!</p>

<div class="block">
  <h3>Cash exchange</h3>

  <div class="items">
    <ng-container *ngFor="let item of data">
      <div class="item" style="display: flex">
        <div>base_ccy : {{item.base_ccy}}</div>
        <div>buy: {{item.buy}}</div>
        <div>ccy: {{item.ccy}}</div>
        <div>sale: {{item.sale}}</div>
      </div>
    </ng-container>
  </div>
</div>

<div class="block">
  <h3>Online exchange</h3>

  <div class="items">
    <ng-container *ngFor="let item of data2">
      <div class="item" style="display: flex">
        <div>base_ccy : {{item.base_ccy}}</div>
        <div>buy: {{item.buy}}</div>
        <div>ccy: {{item.ccy}}</div>
        <div>sale: {{item.sale}}</div>
      </div>
    </ng-container>
  </div>
</div>


<div class="btn" (click)="ff()">request</div>



